version: 2.1

description: "The orb integrates WhiteSource Unified Agent, a tool which extracts descriptive information from your open source libraries located on your file system. For more information: https://whitesource.atlassian.net/wiki/spaces/WD/pages/33718339/Unified+Agent"


        
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    steps:
      - checkout
      - run:
          command: |
              echo " Starting download"
              bash <(https://github.com/whitesource/unified-agent-distribution/raw/master/standAlone/wss_agent.sh) -apiKey a420fcc1a4194e2898fef7b0d044356d83023a9d21fe4f869567fae104789d8c -c ../wss-unified-agent.config
           
workflows:
  version: 1
  build_and_test:
    jobs:
      - build
